In [22]:
import pandas as pd

In [23]:
animals=['tiger','bear','moose']
s=pd.Series(animals)
s

0    tiger
1     bear
2    moose
dtype: object

In [24]:
s.index

RangeIndex(start=0, stop=3, step=1)

In [25]:
s.name='Animals'

In [26]:
s.name

'Animals'

In [28]:
numbers=[1,2,3]
pd.Series(numbers)

0    1
1    2
2    3
dtype: int64

In [30]:
animals=['tiger','bear',None]
s=pd.Series(animals)
s

0    tiger
1     bear
2     None
dtype: object

In [31]:
numbers=[1,2,None]      ##NON-not a number
pd.Series(numbers)

0    1.0
1    2.0
2    NaN
dtype: float64

In [32]:
a=2
b=2
a==b

True

In [33]:
import numpy as np
np.nan==None

False

In [34]:
np.nan==np.nan

False

In [35]:
np.isnan(np.nan)

True

In [36]:
sports={'Archery':'Bhutan',
       'Golf':'Scotland',
       'Sumo':'Japan',
       'Taekwondo':'South Korea'}
s=pd.Series(sports)
s

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
dtype: object

In [37]:
s.index

Index(['Archery', 'Golf', 'Sumo', 'Taekwondo'], dtype='object')

In [38]:
s=pd.Series(['tiger','Bear','Moose'],index=['India','America','Canada'])
s

India      tiger
America     Bear
Canada     Moose
dtype: object

In [41]:
sports={'Archery':'Bhutan',
       'Golf':'Scotland',
       'Sumo':'Japan',
       'Taekwondo':'South Korea'}
s=pd.Series(sports,index=['Golf','Sumo','Hockey','Archery'])

s

Golf       Scotland
Sumo          Japan
Hockey          NaN
Archery      Bhutan
dtype: object

## Querying a Series

In [42]:
sports={'Archery':'Bhutan',
       'Golf':'Scotland',
       'Sumo':'Japan',
       'Taekwondo':'South Korea'}
s=pd.Series(sports)
s

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
dtype: object

In [43]:
s.iloc[3]

'South Korea'

In [46]:
s.loc['Golf']

'Scotland'

In [47]:
s[3]

'South Korea'

In [48]:
s['Golf']

'Scotland'

In [49]:
sports={99:'Bhutan',100:'Scotland',101:'Japan',102:'South Korea'}
s=pd.Series(sports)
s

99          Bhutan
100       Scotland
101          Japan
102    South Korea
dtype: object

In [55]:
s.iloc[1]

'Scotland'

In [53]:
s.loc[101]

'Japan'

In [ ]:
s[0] # this wont call s.iloc[0]

In [57]:
s[99]

'Bhutan'

In [59]:
s=pd.Series([100.00,120.00,101.00,3.00])
s

0    100.0
1    120.0
2    101.0
3      3.0
dtype: float64

In [60]:
for each in s:
    print(each)

100.0
120.0
101.0
3.0

In [66]:
total=0
for i in s:
    total+=i
print(total)

324.0

In [67]:
import numpy as np
total=np.sum(s)
print(total)

324.0

In [69]:
np.random.randint(0,1000,10000)

array([326, 859, 600, ..., 225, 160, 674])

In [70]:
len(np.random.randint(0,1000,10000))

10000

In [74]:
s=pd.Series(np.random.randint(0,1000,10000))
s

0       252
1       128
2       376
3         2
4       352
5       920
6       853
7       132
8         7
9       247
10      787
11      889
12      712
13       86
14      387
15       80
16      190
17      225
18       27
19      489
20      488
21      982
22      595
23      454
24      217
25      316
26      664
27      413
28       34
29      902
       ...
9970     37
9971    711
9972    253
9973    639
9974    972
9975    433
9976    827
9977    568
9978    511
9979    361
9980    331
9981    666
9982    881
9983    244
9984    727
9985    356
9986     60
9987    128
9988    234
9989    268
9990    470
9991    405
9992    202
9993    563
9994    834
9995    366
9996    664
9997    928
9998    366
9999    848
Length: 10000, dtype: int32

In [75]:
s=pd.Series(np.random.randint(0,1000,10000))
s.head()

0    942
1    437
2     89
3    139
4    789
dtype: int32

In [76]:
len(s)

10000

In [87]:
%%timeit -n 5
summary=0
for item in s:
    summary+=item

2.02 ms ± 320 µs per loop (mean ± std. dev. of 7 runs, 5 loops each)

In [88]:
%%timeit -n 5
summary=np.sum(s)

270 µs ± 98.3 µs per loop (mean ± std. dev. of 7 runs, 5 loops each)

In [89]:
s.head()

0    942
1    437
2     89
3    139
4    789
dtype: int32

In [90]:
s+=2    ## adds two to each item in s uing broadcasting
s.head()

0    944
1    439
2     91
3    141
4    791
dtype: int32

In [92]:
for label,value in s.iteritems():
    s.set_value(label,value+2)
s.head()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

0    948
1    443
2     95
3    145
4    795
dtype: int32

In [93]:
s.set_value(0,900)
s.head()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  """Entry point for launching an IPython kernel.

0    900
1    443
2     95
3    145
4    795
dtype: int32

In [95]:
%%timeit -n 1
s=pd.Series(np.random.randint(0,1000,10000))
for label,value in s.iteritems():
    s.loc[label]=value+2

4.51 s ± 337 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [96]:
%%timeit -n 1
s=pd.Series(np.random.randint(0,1000,10000))
s+=2

687 µs ± 299 µs per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [98]:
s=pd.Series(np.random.randint(0,1000,10000))
for label,value in s.iteritems():
    s.loc[label]=value+2
s.head()

0    367
1    979
2     12
3    310
4    662
dtype: int32