###### Python
*Python*
**Python**
***Python***
* Python
    * Python
       * Python

<img src="800px-Jupyter_logo.svg.png" style="width:400px;hight=400px">

In [3]:
print("Good Morning",end=" ")
print("Good afternoon")

Good Morning Good afternoon

In [4]:
a=123

In [6]:
type(a)

int

In [7]:
b="123"
type(b)

str

In [8]:
c=1.2
type(c)

float

In [9]:
str(a)

'123'

In [44]:
a=int(input("enter the lower limit:"))
b=int(input("enter the lower limit:"))
for i in range(a,b+1):
    print(i)

enter the lower limit:1
enter the lower limit:10
1
2
3
4
5
6
7
8
9
10

In [ ]:
2+3
a=2
b=3
a+b

In [22]:
2<3

True

In [24]:
type(True)

bool

# Relational Operators

In [25]:
a=1,2,3

In [26]:
a

(1, 2, 3)

In [27]:
type(a)

tuple

In [28]:
a=1

In [29]:
a=a+1
a

2

In [30]:
a+=1

In [31]:
a

3

In [32]:
a*=3
a

9

# Logical Operator

In [33]:
True and True

True

In [34]:
3 and 4

4

In [35]:
3 and 0

0

In [36]:
0 and 5

0

In [37]:
2 or 4

2

In [39]:
not 5

False

# Bitwise Operators

In [40]:
7&4

4

In [41]:
3&4

0

In [42]:
bin(4)

'0b100'

In [43]:
'ap' in 'apssdc'

True

# Arthmetic Operator

In [45]:
2 + 3
a=2
b=4
a + b

6

In [46]:
a - b

-2

In [47]:
a * b

8

In [48]:
a ** b

16

In [49]:
a / b

0.5

In [50]:
a//b

0

# Condition Statement

## if statement

In [57]:
num=0
if num>=0:
    if num==0:
        print("zero")
    elif num!=0:
        print("positive")
else:
        print("negative")

zero

In [59]:
year=int(input("eneter a year"))
if year%400==0 or (year%4==0 and year%100!=0):
        print(year,"leap year")
else:
        print(year,"not a leap year")

eneter a year2000
2000 leap year

### write a code to find whether the given number is factor of 1000 or not

In [62]:
num=int(input("eneter a number:"))
if 1000%num==0:
    print("this is a factor of 1000")
else:
    print("this is not a factor of 1000")

eneter a number:100
this is a factor of 1000

### write a program to find the length of the digit 1234

In [66]:
a=1234
print(len(str(a)))

4

### write a program to find the greatest of 200,536,145,221

In [80]:
a=200
b=536
c=145
d=221
if (a>b and a>c and a>d):
    print(a,"is greater")
elif(b>a and b>c and b>d):
     print(b,"is greater")
elif(c>a and c>b and c>d):
    print(c,"is greater")
else:
    print(d,"is greater")

536 is greater

### write a program to find the grade of student based on percentage
## 76 above ---->

In [84]:
marks=int(input("enter student marks:"))
if marks>75:
    print("distiction and first class")
elif(marks>50):
    print("second class")
elif(marks>35):
    print("pass")
else:
    print("fail")

enter student marks:50
pass

## case1:input...(10,10,10) o/p:10
## case2:input(10,20,30) o/p:60
## case3:input(10,10,20) o/p:20

In [107]:
a=int(input("enter a value"))
b=int(input("enter b value"))
c=int(input("enter c value"))
if(a==b==c):
    print(a)
elif(a!=b!=c):
    print(a+b+c)
elif(a==b!=c):
    print(c)
elif(b==c!=a):
    print(a)
else:
    print(d)

enter a value10
enter b value10
enter c value20
20

## write a program to find the given number exist in the given range

In [106]:
u=int(input("enter upper bound"))
l=int(input("enter lower bound"))
num=int(input("enter num"))
for i in range(u,l)
       if()
    print("exist")
else:
    print("not exist")

enter upper bound30
enter lower bound45
not exist

## Loops

### for loop

In [109]:
for temp_var in sequence:
    statements

NameError: name 'sequence' is not defined

In [111]:
for i in 1,2,3:
    print(i,end='\t')

1	2	3

In [112]:
for i in range(5):
    print(i)

0
1
2
3
4

In [113]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [114]:
for i in range(1,6,2):
    print(i)

1
3
5

In [116]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [117]:
s="apssdc"
for char in s:
    print(s)

apssdc
apssdc
apssdc
apssdc
apssdc
apssdc

In [124]:
s="apssdc"
for i in range(len(s)-1,-1,-1):
    print(s[i],end='')

cdsspa

In [125]:
chr(65)

'A'

In [136]:
for i in range(65,91):
    print(chr(i),end=' ')

A B C D E F G H I J K L M N O P Q R S T U V W X Y Z

In [139]:
for i in range(65,65+25):
    if chr(i)=='S':
        continue
    print(chr(i),end='')

ABCDEFGHIJKLMNOPQRTUVWXY

In [140]:
for i in range(65,65+25):
    if chr(i)=='S':
        break
    
    print(chr(i),end='')

ABCDEFGHIJKLMNOPQR

In [141]:
while condition:
    statements

NameError: name 'condition' is not defined

In [149]:
i=1
while i<=5:
    print(i)
    i+=1

1
2
3
4
5

In [160]:
i=1
t=int(input("enter a num"))
while i<=10:
    print(t,"*",i,'=',t*i)
    i+=1

enter a num3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

## write a program to find the factorial of given number

In [162]:
n=int(input("enter a num"))
fact=1
for i in range(1,n+1):

enter a num5
5 * 1 = 5
5 * 1 = 5
5 * 1 = 5
5 * 1 = 5
5 * 1 = 5