## append()

In [1]:
a=[10,20,30]

In [2]:
a

[10, 20, 30]

In [3]:
a.append(100)

In [4]:
a

[10, 20, 30, 100]

In [5]:
b=['sai','lakshmi']

In [6]:
a.append(b)

In [7]:
a

[10, 20, 30, 100, ['sai', 'lakshmi']]

In [8]:
len(a)

5

In [9]:
a[3]

100

In [10]:
a[4]

['sai', 'lakshmi']

In [11]:
a[4],type(a[4])

(['sai', 'lakshmi'], list)

In [12]:
a[-2]

100

In [13]:
a[0]=500

In [14]:
a

[500, 20, 30, 100, ['sai', 'lakshmi']]

In [16]:
a[4][1]='ram'

In [17]:
a

[500, 20, 30, 100, ['sai', 'ram']]

In [19]:
a[4].append('sairam')

In [20]:
a

[500, 20, 30, 100, ['sai', 'ram', 'sairam']]

## extend(collection-item)

In [22]:
a=[10,20,30]
b=[40,50]
a.extend(b)
a

[10, 20, 30, 40, 50]

In [36]:
# task
students=[['sai',10,20,30],['lakshmi',30,40,60],['raju',30,40,60]]

In [40]:
high=0
for i in students:
    name=i[0]
    marks=i[1]+i[2]+i[3]
    if high<marks:
        high=marks
        
for i in students:
    name=i[0]
    marks=i[1]+i[2]+i[3]
    if high==marks:
        print(name)

lakshmi
raju

In [41]:
for i in students:
    name=i[0]
    marks=i[1]+i[2]+i[3]
    if high==marks:
        print(name)

lakshmi
raju

## count(items)

In [42]:
a=[10,30,40,30]

In [43]:
a.count(30)

2

In [44]:
a.count(100)

0

In [46]:
[30,[30,40],30].count(40)

0

In [47]:
dir(a)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

## clear()
clear removes all the items in the list

In [48]:
a=[10,20,30]
a.clear()
a

[]

## copy()

In [50]:
a=[10,30]
b=a.copy()
b

[10, 30]

In [51]:
a.append(30)

In [53]:
a,b

([10, 30, 30], [10, 30])

In [54]:
b=a
b,a

([10, 30, 30], [10, 30, 30])

## index(item)

In [76]:
a=[10,30,40,30]
a.index(10)

0

## insert(index,item)

In [58]:
a=[10,30,40]
a.insert(1,100)

In [59]:
a

[10, 100, 30, 40]

In [62]:
a.insert(100,1000)
a

[10, 100, 30, 40, 1000]

## pop(index)

In [63]:
a=[10,30,40]
a.pop(0)

10

In [64]:
a

[30, 40]

In [66]:
a.pop()

40

## remove(item)

In [70]:
a=[10,30,40]
a.remove(10)
a

[30, 40]

## reverse()

In [73]:
a=[20,50,10]
a.reverse()
a

[10, 50, 20]

## sort()

In [74]:
a=[10,50,30]
a.sort()
a

[10, 30, 50]

In [75]:
a=[10,50,30]
a.sort(reverse=True)
a

[50, 30, 10]

In [1]:

a=[10,50,30]
len(a)

3

In [78]:
min(a)

10

In [2]:
max(a)

50

## slicing

In [3]:
a=[10,30,40,20,50,60]

In [6]:
a[1:4]

[30, 40, 20]

In [5]:

a=[10,30,40,20,50,60]
a[2:5]

[40, 20, 50]

In [2]:
a=[10,30,40,50,60]

In [3]:
a[1::2]

[30, 50]

In [4]:
a[:3]

[10, 30, 40]

In [5]:
a[::2]

[10, 40, 60]

In [6]:
a

[10, 30, 40, 50, 60]

In [7]:
a[::-1]                ## reverse the list

[60, 50, 40, 30, 10]

In [8]:
#          no sub1 sub2
students=[[1,30,40],[3,40,30],[2,50,10]]

In [39]:
high=0
for i in students:
    print(i[2])
    if high<sub2:
        high=sub2
        i.sort(sub2)
print(i)

40

TypeError: '<' not supported between instances of 'int' and 'list'

## tuples
collection of items and touple is immutable

In [55]:
a=tuple()
a=()

In [43]:
a=(10,30,40)
a[1]

30

## methods in tuple
## count(item)

In [44]:
a=(10,30,40,30)
a.count(30)

2

## index(item)

In [49]:
a=(10,30,40,50)
a.index(30)

1

In [50]:
min(a)

10

In [51]:
max(a)

50

In [52]:
sum(a)

130

In [53]:
a=(1,2,3,4,5,6)
a[3:0:-1]

(4, 3, 2)

In [54]:
a[1:4][::-1]

(4, 3, 2)

##  String methods
### startswith(sub_string)
checks original string with sub_string or not

In [56]:
name='python program'
name.startswith('python')

True

## endswith(sub_string)

In [57]:
name.endswith('program')

True

## string methods
## split(),split('a')

In [58]:
name='hi i am hari'
name.split()

['hi', 'i', 'am', 'hari']

## join(collection_string)

In [59]:
characters=['p','y','t','h','o','n']

''.join(characters)

'python'

## strip()
removes the space first and end

In [5]:
name='   sai ram   '
name.strip(),len(name),len(name.strip())

('sai ram', 13, 7)

## lstrip()

In [6]:
name.lstrip()

'sai ram   '

## rstrip()

In [7]:
name.rstrip()

'   sai ram'

## isalpha()

In [8]:
s='sairam'
s.isalpha()

True

In [9]:
s='sai ram'
s.isalpha()

False

## swapcase()

In [11]:
s='SAi'
s.swapcase()

'saI'

## capitalize()
starting latter capital

In [12]:
s='sai ram'
s.capitalize()

'Sai ram'

## title()
starting word capital

In [13]:
s='sai ram'
s.title()

'Sai Ram'

In [14]:
data="sairam 123 lakshmi"

## Dictionaries
is the collection of items with key-value pair

In [18]:
english={'name':'sai','mobile':'2874665811'}

In [19]:
{'a':10,'b':30,'a':40}

{'a': 40, 'b': 30}

In [22]:
for key in english:
    print(key)

name
mobile

In [23]:
english['name']

'sai'

In [25]:
english['name']='ram'
english

{'name': 'ram', 'mobile': '2874665811'}

In [26]:
english['gender']='male'

In [28]:
english

{'name': 'ram', 'mobile': '2874665811', 'gender': 'male'}

In [29]:
for key in english:
    print(english[key])

ram
2874665811
male

In [30]:
dir(english)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

## clear()

In [21]:
a={'name':'hari'}
a.clear()
a

{}

## copy()

## fromkeys(collection)
to create new dictionary from keys

In [2]:
keys=['name','gender','mobile']
{}.fromkeys(keys,30)

{'name': 30, 'gender': 30, 'mobile': 30}

## get()
return value related to the given key if available

In [7]:
person={'name':'lakshmi','gender':'female','isStudent':True}
person['name']

'lakshmi'

In [9]:
person.get('name')

'lakshmi'

In [13]:
person

{'name': 'lakshmi', 'gender': 'female', 'isStudent': True, 'name1': 'hari'}

In [15]:
person.setdefault('adhar','523423')

'523423'

In [16]:
person

{'name': 'lakshmi',
 'gender': 'female',
 'isStudent': True,
 'name1': 'hari',
 'adhar': '523423'}

## items()

In [17]:
person.items()

dict_items([('name', 'lakshmi'), ('gender', 'female'), ('isStudent', True), ('name1', 'hari'), ('adhar', '523423')])

## keys()
return keys from dictionary

In [18]:
person.keys()

dict_keys(['name', 'gender', 'isStudent', 'name1', 'adhar'])

## pop()
remove the item related to given key

In [22]:
person.pop('name1')

'hari'

In [24]:
person

{'name': 'lakshmi', 'gender': 'female', 'isStudent': True, 'adhar': '523423'}

## popitem()

In [25]:
person.popitem()

('adhar', '523423')

In [26]:
person

{'name': 'lakshmi', 'gender': 'female', 'isStudent': True}

## update(dict)

In [27]:
change={'name':'sai','grade':'A'}
person.update(change)

In [28]:
person

{'name': 'sai', 'gender': 'female', 'isStudent': True, 'grade': 'A'}

## values()

In [29]:
person.values()

dict_values(['sai', 'female', True, 'A'])

## sets

In [30]:
{},()

({}, ())

In [31]:
a={1,2,3,4,5}
type(a)

set

In [32]:
a.add(10)

In [33]:
a

{1, 2, 3, 4, 5, 10}

In [34]:
a.pop()
a

{2, 3, 4, 5, 10}

In [35]:
b={1,7,8,9}

In [36]:
a.union(b)

{1, 2, 3, 4, 5, 7, 8, 9, 10}

In [38]:
a.difference(b)

{2, 3, 4, 5, 10}

## intersection

In [40]:
a,b

({2, 3, 4, 5, 10}, {1, 7, 8, 9})

In [41]:
a.intersection(b)

set()

## clear

In [42]:
a.clear()

In [43]:
a

set()

## remove

In [45]:
a={1,2,3,4,5}

In [46]:
a.remove(2)

In [47]:
a

{1, 3, 4, 5}

In [48]:
a,b

({1, 3, 4, 5}, {1, 7, 8, 9})

## update

In [49]:
a.update(b)

In [50]:
a

{1, 3, 4, 5, 7, 8, 9}

## subset

In [60]:
c={1,3}
a={1,3,4,5,7,8,9}

In [61]:
c.issubset(a)

True