In [1]:
fh1=open('book.txt','r')
fh2=open('report.txt','w')
count=0
for line in fh1:
    count+=1
    if count==1:
        fh2.write(line.strip()+'\ttotal\n')
    else:
        marks=line.strip().split()[2:]
        newmarks=[]
        for each in marks:
            newmarks.append(int(each))
        totalmarks=sum(newmarks)
        fh2.write(line.strip()+'\t'+str(totalmarks)+'\n')
fh1.close()
fh2.close()

In [33]:
fh1=open('book.txt','r')
fh2=open('highest.txt','w')
c=0
rows=[]

for line in fh1:
    c+=1
    if c==1:
        fh2.write(line.strip()+'\ttotal\n')
    else:
        marks=line.strip().split()[2:]
        newmarks=[]
        for each in marks:
            newmarks.append(int(each))
        totalmarks=sum(newmarks)
        row=line.strip()+'\t'+str(totalmarks)+'\n'
        rows.append([totalmarks,row])
rows.sort(reverse=True)
for row in rows:
    fh2.write(row[1])
        
fh1.close()
fh2.close()

In [34]:
numbers=[]
for i in range(1,101):
    if i%3==0:
        numbers.append(i)
print(numbers)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]

## create dictionary for squares of 1 to 10 numbers

In [35]:
d={}
for x in range(1,16):
    d[x]=x**2
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

## sort the list basted on english marks
### english[30,100,50]

In [83]:
students=[['sai',30,40],['lakshmi',100,30],['ram',50,60]]
removeIndex=1
for student in students:
    #['sai',30,40]
    student.insert(0,student.pop(removeIndex))
    #[30,'sai',40]
students.sort()
for student in students:
    student.insert(removeIndex,student.pop(0))
    #['sai',30,40]
print(students)

[['sai', 30, 40], ['ram', 50, 60], ['lakshmi', 100, 30]]

In [88]:
students=[['sai',130,40],['lakshmi',100,30],['ram',50,60]]
students.sort(key=lambda x:x[1]+x[2])
students

[['ram', 50, 60], ['lakshmi', 100, 30], ['sai', 130, 40]]

In [114]:
students=[
         ['sai',{'maths':30,'english':50}],
         ['ram',{'english':100,'maths':100}],
         ['roja',{'maths':50,'english':40}]
]
students.sort(key=lambda x:x[1]['maths'])
students

[['sai', {'maths': 30, 'english': 50}],
 ['roja', {'maths': 50, 'english': 40}],
 ['ram', {'english': 100, 'maths': 100}]]