## List comprehension

In [1]:
numbers=[]
for i in range(1,101):
    if i%3==0:
        numbers.append(i)
print(numbers)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]

## [item loop condition]

In [2]:
[1 for each in range(10)]

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [4]:
[each for each in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [6]:
[each*each for each in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [7]:
[each for each in range(1,11)if each%2==0]

[2, 4, 6, 8, 10]

In [8]:
[each for each in range(1,11)if each%2!=0]

[1, 3, 5, 7, 9]

In [23]:
students=[['sai',70],['ram',30],['lakshmi',60]]
[each for each in students  if each[1]>=60]

[['sai', 70], ['lakshmi', 60]]

In [25]:
students=[['sai',70,1],['ram',30,2],['lakshmi',60,3]]
[each for each in students  if each[1]>=60 and each[2]<=1]

[['sai', 70, 1]]

In [26]:
[each+item for each in range(3) for item in range(3)]

[0, 1, 2, 1, 2, 3, 2, 3, 4]

## x^2+y^2=z^2

In [36]:
[(x,y,z) for x in range(1,31) for y in range(x,31) for z in range(y,31) if(x**2+y**2==z**2)]

[(3, 4, 5),
 (5, 12, 13),
 (6, 8, 10),
 (7, 24, 25),
 (8, 15, 17),
 (9, 12, 15),
 (10, 24, 26),
 (12, 16, 20),
 (15, 20, 25),
 (18, 24, 30),
 (20, 21, 29)]

In [51]:
[(str(x)+str(y)) for x in range(10) for y in range(10)]

['00',
 '01',
 '02',
 '03',
 '04',
 '05',
 '06',
 '07',
 '08',
 '09',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '24',
 '25',
 '26',
 '27',
 '28',
 '29',
 '30',
 '31',
 '32',
 '33',
 '34',
 '35',
 '36',
 '37',
 '38',
 '39',
 '40',
 '41',
 '42',
 '43',
 '44',
 '45',
 '46',
 '47',
 '48',
 '49',
 '50',
 '51',
 '52',
 '53',
 '54',
 '55',
 '56',
 '57',
 '58',
 '59',
 '60',
 '61',
 '62',
 '63',
 '64',
 '65',
 '66',
 '67',
 '68',
 '69',
 '70',
 '71',
 '72',
 '73',
 '74',
 '75',
 '76',
 '77',
 '78',
 '79',
 '80',
 '81',
 '82',
 '83',
 '84',
 '85',
 '86',
 '87',
 '88',
 '89',
 '90',
 '91',
 '92',
 '93',
 '94',
 '95',
 '96',
 '97',
 '98',
 '99']

In [53]:
a=['A','B']
b=[1,2]
[(str(a)+str(b)) for x in range(a) for y in range(b)]]

SyntaxError: invalid syntax (<ipython-input-53-f4e8bb49b37b>, line 3)

## dictionary comprehension

In [54]:
{each:each*each for each in range(1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [55]:
{each:each*each for each in range(1,11) if each%2==0}

{2: 4, 4: 16, 6: 36, 8: 64, 10: 100}

In [56]:
{each:each*each for each in range(1,11) if each%2!=0}

{1: 1, 3: 9, 5: 25, 7: 49, 9: 81}

In [57]:
{each:each*each if each%2==0 else each**3 for each in range(1,11)}

{1: 1, 2: 4, 3: 27, 4: 16, 5: 125, 6: 36, 7: 343, 8: 64, 9: 729, 10: 100}

In [73]:
names=['sai','ramu']
grades=['A','B']
student={}
for i in range(len(names)):
    name=names[i]
    grade=grades[i]
    student[name]=grade
print(student)

{'sai': 'A', 'ramu': 'B'}

In [74]:
names=['sai','ramu']
grades=['A','B']
for name,grade in zip(names,grades):
    print(name,grade)

sai A
ramu B

In [75]:
names=['sai','ramu']
grades=['A','B']
for item in zip(names,grades):
    print(item)

('sai', 'A')
('ramu', 'B')

In [76]:
names=['sai','ramu']
grades=['A','B']
{name:grade for name,grade in zip(names,grades)}

{'sai': 'A', 'ramu': 'B'}

## lambda
           ## lambda accepted only one line

In [77]:
square= lambda x:x*x
square(3)

9

In [78]:
add=lambda x:'hai'
add(10)

'hai'

In [81]:
fun=lambda x:x[0]
a=[1,2,3]
fun(a)

1

In [82]:
a=10
fun(a)

TypeError: 'int' object is not subscriptable

In [84]:
fun=lambda x,y:(x,y)
fun(10,20)

(10, 20)

In [85]:
students=[['sai',130,40],['lakshmi',100,30],['ram',50,60]]
students.sort(key=lambda x:x[1]+x[2])
students

[['ram', 50, 60], ['lakshmi', 100, 30], ['sai', 130, 40]]

In [90]:
numbers=['10','30','60']
result=[]
for each in numbers:
    result.append(int(each))
print(result)

[10, 30, 60]

## map(function,collection)

In [91]:
numbers=['10','30','60']
s=map(int,numbers)
list(s)

[10, 30, 60]

In [94]:
marks=['10','30','60']
list(map(lambda x:int(x)+30,marks))

[40, 60, 90]

## all()

  #### any single value false  than  return false otherwise true

In [96]:
marks=[10,20,0,30]
all(marks)

False

## any()
#### any one value true than return true

In [97]:
any(marks)

True

## filter(function,collection)
#### any false value does not given

In [98]:
marks=[10,30,40,0,100]
s=filter(None,marks)
list(s)

[10, 30, 40, 100]

In [103]:
students=[['sai',10],['sunny',30],['ramu',50]]
list(filter(lambda x:x[1]<=30,students))

[['sai', 10], ['sunny', 30]]