In [6]:
mylist=[10,100,300,400]
mylist.insert(0,mylist.pop(3))
mylist

[400, 10, 100, 300]

In [7]:
b=(1,)
type(b)

tuple

In [10]:
d={'ram':100}
d['ram']+=20
d

{'ram': 120}

In [20]:
s='sai 123 ram 345'
sum([int(i) for i in s if i.isdigit()])

18

In [23]:
s='sai 123 ram 345'
s=s.replace(' ','')
s

'sai123ram345'

In [38]:
s='sai 123 ram 345'

sum([int(i) for i in s.split() if i.isdigit()])

468

In [51]:
s='sairam sailakshmi'
''.join([i.upper() if i=='s' or i=='i' else i for i in s])

'SaIram SaIlakShmI'

In [55]:
s={'name':'sai','branch':'cse'}
print('\n'.join([i+' '+s[i]+' 'for i in s]))

name sai
branch cse

In [54]:
y=[print(key,value) for key,value in s.items()]

name sai
branch cse

In [66]:
s=['sai','surya','ramu','lakshmi','sri']
sum([len(i) for i in s])

22

In [2]:
import re

In [3]:
names=['sai','ram','lakshmi','srinu','indira']
group={'A':[],'B':[]}
for name in names:
    if re.search('a',name):
        group['A'].append(name)
    else:
        group['B'].append(name)
print(group)

{'A': ['sai', 'ram', 'lakshmi', 'indira'], 'B': ['srinu']}

In [10]:
print(1,10,30,50,sep='\n')

1
10
30
50

In [11]:
print(10,20,30,40,100,sep='60')

1060206030604060100

In [14]:
for each in range(10):
    print(each,end=' ')

0 1 2 3 4 5 6 7 8 9

In [15]:
2<3

True

In [17]:
s=['abc','cab','bca']
s.sort(key=lambda s:s[2])
s

['bca', 'cab', 'abc']

## take the data everytime until user gives DONE print minimum and max number

In [2]:
numbers=[]
while True:
    data=input('given data')
    if data=='DONE':
        break
    elif data.isdigit():
        numbers.append(int(data))
if len(numbers)>0:
    print('minimum',min(numbers))
    print('maximum',max(numbers))

else:
    print('user not given value')

given data10
given data2
given data40
given data50
given data500
given datasiri
given dataDONE
minimum 2
maximum 500

In [11]:
import re
s='ram123sai345ra124'
sum(list(map(int,re.findall('1\d+',s))))

247

In [12]:
import re
s='ram123sai345ra124'
sum(list(map(int,re.findall('\d+',s))))

592

['5']